.background{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: white;

}
.botaoInicial{
    font-size: 20px;
    margin-left: 250px;
    margin-top: 50px;
    color: white;
    background-color: #27ad60;
    width: 210px;
    height: 60px;
    border-radius: 15px;
}
.forca{
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
}
.footer{
    width: 100%;
    height: 430px;
    background-color: grey;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.palavra{
    margin-top: 30px;
    margin-left: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 50px;
    font-size: 25px;
}
.alfabeto{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin-top: 120px;
    width: 930px;
    background-color: black;
}
.letraAlfabetoa {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
}
.finalizador{
    background-color: white;
    margin-top: 20px;
    width: 930px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finalizador > input{
    width: 300px;
    height: 24px;
    border-radius: 5px;
}
.finalizador > h1{
    margin-right: 30px;
}
.finalizador > button{
    margin-left: 80px;
    height: 30px;
    width: 80px;
    border-radius: 6px;
    font-size: 15px;
}

.Certa{
    background-color: #27ad60;}
   
.Errada{
    background-color: red;} 

    .letraAlfabetoa {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetob {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetoc {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetod {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetoe {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetof {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetog {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetoh {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetoi {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetoj {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetok {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetol {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetom {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabeton {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetoo {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetop {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetoq {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetor {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetos {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetot {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetou {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetov {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetow {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetow {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetox {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
   
    
}
.letraAlfabetoy {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
    
}
.letraAlfabetoz {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
   
    
}
.Ligar{
    display: flex;
}
.Ganhou{
    color: #27ad60;
}
.Perdeu{
    color: red;
}